{% extends '../layout/base.html' %}
{% block title %}index | {{ block.super }}{% endblock title %}
{% block content %}
    {% comment %}多言語対応{% endcomment %}
    {% load i18n %}
    {% get_current_language as LANGUAGE_CODE %}
    <form method="post">
        {% csrf_token %}
        Hello Template!<br/>
        methodName= {{ methodName }}<br/>
        {% comment %} から {% endcomment %}
        <table class="table">
            <tbody>
                <tr>
                    <th>{% trans 'User ID' %}</th>
                    <td>{{ form.user_id }}</td>
                </tr>
                <tr>
                    <th>{% trans 'Password' %}</th>
                    <td>{{ form.password }}</td>
                </tr>
                <tr>
                    <th>{% trans 'Language' %}</th>
                    <td>{{ form.lang }}</td>
                </tr>
            </tbody>
        </table>
        <input type="submit"/>
    </form>
{% endblock %}
